.article{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 40px;
}

.article__div{
    flex-grow:1 ;
    flex-shrink:0;
    flex-basis:300px ;
    background: #71717168;
    padding: 15px;
    border-radius: 10px;
}

.article__div p{
    font-size: 1rem;
}

.article__div h2{
    font-size: 1.5rem;
 font-family: "Cinzel";
}

.article__figure{
    flex-grow:1 ;
    flex-shrink: 0;
    flex-basis: 300px;
    background: #71717168;
    padding: 15px;
    border-radius: 10px;
}

.article__img{
     width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.article__figure figcaption{
    color: white;
}

.article:nth-of-type(odd) .article__figure{
    order: -1;
}