 #chk-burger{
    display: none;
    position: fixed;
    top: 40px;
    right: 10px;
}

.navigation__bouton{
    position: fixed;
    top: 10px;
    right: 10px;
}

#chk-burger:checked ~ .navigation{
 
     transform : translateX(0);
}

.navigation{
    position: fixed;
    top : 90px;
    right : 0px;
    transform : translateX(100%);
    transition: transform 0.5s;
    border : 2px solid #aaa;
    background-color: #0000004d;
}

.navigation a{
    display: block;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.331);
    text-decoration: none;
    font-size: 2rem;
    padding: 3px;
    margin: 5px;
}

a.accueil{
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 21, 255);
    box-shadow: 2px 2px 2px black;
    border-radius: 5%;
}

a.accueil:hover{
    color: rgb(0, 200, 255);
}

a.menu:hover{
    color: #aaa;
}

.formulaire{
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.2rem;
    background: rgba(158, 4, 4, 0.728);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.formulaire__div{
    margin: 5px 0;
}

.formulaire__label{
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
}

.formulaire__input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
}